@using Poseidon.Common.Dtos
@model ProfileDto
@{
    ViewData["Title"] = "Profile";
}


s
s<br />
s<br />
s<br />
s<br />
s<br />
s<br />
s<br />
s<br />
s<br />
s<br />
s<br />

<form asp-controller="Profile" asp-action="Index" method="post">
    <div class="row">
        <input asp-for="CompanyName" type="text" class="form-control" placeholder="Name">
        <input asp-for="CompanyInfo" type="text" class="form-control" placeholder="About">
        <input asp-for="Email" type="text" class="form-control" placeholder="email">
        <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="phone number">
        <input asp-for="Picture" type="text" class="form-control" placeholder="imagepath">
        <input type="submit" value="add" class="btn btn-primary" /> 
    </div>
</form>