@{
    ViewData["Title"] = "Hakkımızda";
}

<section id="hero-15" class="bg-scroll hero-section division">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col text-center">

                <!-- HERO TEXT -->
                <div class="hero-15-txt white-color">
                    <h2 class="h2-lg wow fadeInUp">
                        Hakkımızda
                    </h2>
                </div>	<!-- END HERO TEXT -->

            </div>
        </div>    <!-- End row -->
    </div>	   <!-- End container -->
</section>